.tabs {
    display: flex;
    gap: .25rem; 
    inline-size: fit-content;
    margin: 0 auto;
    margin-block-end: 4.25rem;
}

.tabs__item {
    font: var(--tab-title);
    color: var(--grey);
    padding: .25rem;
    margin: 0;
    min-inline-size: 6.125rem;
    cursor: pointer;
    border: 1px solid #d6d6d6;
    border-radius: 2px;
    background-color: transparent;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}

.tabs__item:active{
    transform: scale(.95);
}

.tabs__item--isSelected {
    color: var(--blue);
    border-color: var(--blue);
}