.favorite{
    border: none;
    cursor: pointer;
    background-color: rgba(96, 96, 96, 0.06);
    display: inline-block;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    inline-size: 4.25rem;
    box-sizing: border-box;
}

.favorite:active > .favorite__icon { 
    font-size: 1.2rem;
}

.favorite__icon{
    font-size: 1.375rem;
    vertical-align: middle;
    color: var(--red);
}