.main {
    padding-inline-start: 1.75rem;
    padding-inline-end: 1.75rem;
    padding-block-start: 2rem;
    padding-block-end: 2rem;
    min-inline-size: 20rem;
    box-sizing: border-box;
}

@media screen and (min-width: 1024px) {
    .main {
        padding-inline-start: 9.375rem;
        padding-inline-end: 9.375rem;
        padding-block-start: 4.375rem;
        padding-block-end: 4.375rem;
    }
}